<!-- <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="open" >Side</mat-sidenav>

    <mat-sidenav-content> -->

          <!-- <mat-menu #display="matMenu"> -->
            <!-- tomake it more dynamic -->
            <!-- <button mat-menu-item  [matMenuTriggerData]="{name:'Maruf'}" [matMenuTriggerFor]="submenu">Front-End</button>
            <button mat-menu-item>Back-End</button>
          </mat-menu>
          <mat-menu #submenu="matMenu"> -->
              <!-- tomake it more dynamic so we can use variable declaration by using let-name=smt -->
            <!-- <ng-template matMenuContent let-name="name">
            <button mat-menu-item>Angular{{name}}</button>
            <button mat-menu-item>Recat</button>
            <button mat-menu-item>Vue</button>
          </ng-template>
          </mat-menu>
          <button [matMenuTriggerFor]="display">display</button> -->


        <!-- <mat-toolbar color="accent"> </mat-toolbar> -->
          <!-- <mat-list>
            <mat-list-item> one</mat-list-item>
            <mat-list-item> two</mat-list-item>
            <mat-list-item> three</mat-list-item>
          </mat-list> -->
          <!-- for side bar navigation use -->
           <!-- <mat-nav-list>
            <a mat-list-item> one</a>
            <a mat-list-item> two</a>
            <a mat-list-item> three</a>
          </mat-nav-list>-->
          <!-- guttersize is gap between the column -->
          <!-- this is expansion pannel -->
          <!-- this is accordion -->
          <!-- <mat-accordion>
          <mat-expansion-panel>
             <mat-expansion-panel-header>
               <mat-panel-title>Title</mat-panel-title>
               <mat-panel-description>
              THE RISE OF MARUF
              </mat-panel-description>
             </mat-expansion-panel-header>
             <mat-panel-description>
               This is description of the title
             </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Title</mat-panel-title>
              <mat-panel-description>
             GET TO KNOW MARUF
             </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-panel-description>
              This is description of the title
            </mat-panel-description>
         </mat-expansion-panel>
        </mat-accordion> -->

        <!-- for card like post that contain title image and like and share -->
        <!-- <mat-card>
          <mat-card-header>
            <mat-card-title>this is the title</mat-card-title>
          </mat-card-header>
          <img src="">
          <mat-card-content>this is content</mat-card-content>
          <mat-card-actions align="end"><button disableRipple mat-button>Log-in</button></mat-card-actions>
        </mat-card> -->

        <!-- <mat-radio-group>
          <mat-radio-button value="react">React</mat-radio-button>
          <mat-radio-button value="angular">Angular</mat-radio-button>
          <mat-radio-button value="vue">Vue</mat-radio-button>
        </mat-radio-group> -->


        <!-- authocompelete with filter  -->
<!-- <form>
<mat-form-field>
  <mat-label>Course</mat-label>
  <input matInput [matAutocomplete]="auto" [formControl]="control">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let language of filteredlanguage|async" [value]="language">
      {{language}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</form> -->


   <!-- best select option -->
        <!-- <mat-form-field>
         <mat-label>Select</mat-label>
           <mat-select [(value)]="option" multiple>
             <mat-optgroup label="front end">
             <mat-option value="react">React</mat-option>
             <mat-option value="angular">Angular</mat-option>
             <mat-option value="vue">Vue</mat-option>
            </mat-optgroup>
            <mat-optgroup label="Back end">
              <mat-option value="Pyhton Django">Django</mat-option>
              <mat-option value="Php Laravel">Laravel</mat-option>
              <mat-option value=" Javascript Node.js">Node</mat-option>
             </mat-optgroup>
           </mat-select>
        </mat-form-field> -->

<!--

   for snack notification
   <button mat-raised-button (click)="opensnack('one item is deleted','undo')"> show snackbar</button>
 -->



   <!-- make tooltip -->
        <!-- <button mat-raised-button matTooltip='hi maruf' matTooltipPosition="after">say hi</button> -->

        <!-- date picker and filter date -->
<!-- <mat-form-field>
  <mat-label>Birth-Date</mat-label>
  <input matInput placeholder="Ex 1/01/2021" [matDatepicker]="mydate" [matDatepickerFilter]="datefilter">
  <mat-datepicker-toggle matSuffix  [for]="mydate"></mat-datepicker-toggle>
  <mat-datepicker #mydate></mat-datepicker>
</mat-form-field> -->


<!-- simple input field -->
  <!-- <mat-form-field>
    <mat-label>Name</mat-label>
    <input placeholder="Ex Maruf" matInput>
    <mat-hint>min length 5 char</mat-hint>
  </mat-form-field> -->


       <!-- this is step which mostly used -->
        <!-- <mat-horizontal-stepper linear>
          <mat-step label="step-one" completed="false">
            <p>this is the first step</p>
            <div>
              <button mat-button matStepperNext> Next</button>
            </div>
          </mat-step>
          <mat-step label="step-two" completed="false">
            <p>this is the second step</p>
            <div>
              <button mat-button matStepperNext> Next</button>
              <button mat-button matStepperPrevious>Previos</button>
            </div>
          </mat-step>
          <mat-step label="step-three" completed="false">
            <p>this is the last step</p>
            <div>
            <button mat-button matStepperPrevious>Previos</button>
          </div>
          </mat-step>
        </mat-horizontal-stepper> -->

        <!-- this is tab use it -->
         <!-- <mat-tab-group>
<mat-tab label="react">learn more about react </mat-tab>
<mat-tab label="angular"> learn more abot angular </mat-tab>
<mat-tab label="vue"> learn more about vue </mat-tab>
         </mat-tab-group> -->

          <!-- <mat-grid-list cols="2" rowHeight=100px gutterSize="10px">
            <mat-grid-tile>name</mat-grid-tile>
            <mat-grid-tile>age</mat-grid-tile>
            <mat-grid-tile>edcation</mat-grid-tile>
          </mat-grid-list> -->




     <!-- spinne,badge and fab-button -->
         <!-- <mat-progress-spinner value="70"></mat-progress-spinner>
         <mat-spinner></mat-spinner>
         <div matBadgeHidden matBadge="5">message</div>
         <button mat-fab>maruf</button>
         <mat-icon>grade</mat-icon> -->


         <!-- <mat-form-field>
          <input #ser (keyup)="search(ser.value)"  matInput placeholder="Search...">
        </mat-form-field>
<div class="mat-elevation-z8">
         <table mat-table matSort [dataSource]="dataSource"> -->

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <!-- <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container> -->

          <!-- Weight Column -->
          <!-- <ng-container matColumnDef="weight">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container> -->

          <!-- Symbol Column -->
          <!-- <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit()">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem()">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container> -->



          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
         <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </div>  -->

<!--
        <td><a  mat-raised-button (click)="opendelete(student)">
          <li class="icond fa fa-trash"></li></a></td> -->




<!-- <cdk-virtual-scroll-viewport itemSize="100">
  <div *cdkVirtualFor="let student of students"></div>

</cdk-virtual-scroll-viewport> -->

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="open">
    <span>Side Content</span>
    <mat-nav-list>
     <a class="logout" routerLink="/" mat-list-item >Home</a>
     <a class="logout" routerLink="/" mat-list-item >About-us</a>
     <a class="logout" routerLink="/" mat-list-item >Service</a>
     <a class="logout" routerLink="/" mat-list-item >Contact</a>
  </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar>
      <a mat-raised-button (click)="open=!open"><span>Side-nav</span></a>
      <div class="logdiv">
         <a class="logout" routerLink="/" mat-button >Home</a>
         <a class="logout" routerLink="/" mat-button >About-us</a>
         <a class="logout" routerLink="/" mat-button >Service</a>
         <a class="logout" routerLink="/" mat-button >Contact</a>
         <a class="logout" routerLink="/" mat-button >Log-out</a>
        </div>
    </mat-toolbar>

          <div class="main">

            <div>
             <div>
             <h1 class="title"> Student Mangment System</h1>
            </div>
              <div class="row left">

             <div class="addnew">Add New Student
              <a (click)="openadd()">
               <button mat-raised-button>Add <li class="iconem fa fa-plus-square"></li></button> </a>
            </div>
           </div>
           <div class="row left">
            <div class="deletemult">Delete Multiple Student
             <a (click)="multipledelete()">
              <button mat-raised-button>Delete <li class="icondm fa fa-trash"></li></button> </a>
           </div>
          </div>
            </div>
            <div class="tabdiv">
              <div class="ser"><input class="form-control Ser" type="search" #ser (keyup)="search(ser.value)" placeholder="Search..."></div>
            <table class="table table-striped">
              <thead>
                <tr>
                <th>#</th>
                <th>
                  <input [checked]="isChecked" (change)="call($event);chane()" type="checkbox" name="main">
                  <br/>
                  </th>
                <th>ID</th>
                <th>Name</th>
                <th>Class</th>
                <th>Course</th>
                <th>Out-of</th>
                <th>Result</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
                <!-- to find the innertext value
                #ID (click)="text(ID.innerText)" -->
                <tr *ngFor="let student of sstudent;index as i">
                  <td >{{i+1}}</td>
                  <td><input (change)="chan($event,student)" [checked]="isChecked" type="checkbox" #check [value]="student.id">
                  </td>
                  <td>{{student.id}}</td>
                  <td>{{student.name}}</td>
                  <td>{{student.clas}}</td>
                  <td>{{student.course.coursename}}</td>
                  <td>{{student.course.outof}}</td>
                  <td>{{student.course.result}}</td>
                  <td><a mat-raised-button (click)="openedit(student)">
                    <li class="icone fa fa-edit"></li></a></td>
                  <td><a  mat-raised-button (click)="opendelete(student)">
                    <li class="icond fa fa-trash"></li></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <form [formGroup]="form">
  <div class="form-group">
    <label>Name</label>
  <input required type="text" class="form-control" formControlName='NAME'>
  </div>
  <div *ngIf="f.NAME.touched && !f.NAME.valid">
    <div *ngIf="f.NAME.errors?.required">
this field is required
    </div>
    <div *ngIf="f.NAME.errors?.validname">
      this field must't conatin a space
          </div>
          <div *ngIf="f.NAME.errors?.cont">
            this field must't conatin a mar
                </div>
  </div>
</form>
<div>name</div>
<div>name</div>
<div>name</div> -->
  <!-- mat-raised-button (click)="opensnack('one item is deleted','undo')" -->






    <!-- </mat-sidenav-content>

</mat-sidenav-container> -->



