.alert {
  color: rgba(233, 16, 16, 0.705);
}
button {
  position: relative;
  left: 200px;
  padding-left: 20px;
  background-color: rgba(46, 139, 86, 0.767);
  border: none;
}
.close:hover {
  background-color: red;
}
.close {
  background-color: white;
}
.clos {
  position: relative;
  top: -60px;
}
